<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<header>
  <h1>Maze Craze Admin</h1>
</header>
<section>
  <article>
    <p>Coming soon...</p>
  </article>
</section>
