<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mazes</li>
  </ol>
</nav>
<header>
  <h1>Mazes</h1>
</header>
<section>
  <article>
    <p>Here's a list of maze types...</p>
  </article>
</section>
