<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
    <li class="breadcrumb-item"><a href="/admin/mazes">Mazes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Formulas</li>
  </ol>
</nav>
<header>
  <h1>Maze Formulas</h1>
</header>
<section>
  <article>
    <p>Click on one of the following links to manage Maze <strong>Formulas</strong>:</p>
  </article>
  <nav class="nav flex-column">
    <a class="nav-link" href="/admin/mazes/formulas/edit">Edit</a>
    <a class="nav-link" href="/admin/mazes/formulas/approve">Approve</a>
    <a class="nav-link" href="/admin/mazes/formulas/new">New</a>
  </nav>
</section>
